body {
    padding: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }

img {
    width: 150px;
    border-radius: 50%;
}

.card {
    background: lightblue;
    color: #2b2839;
    border: 6px solid #a796eb;

    width: 350px;
    padding: 30px;
    text-align: center;

    margin: auto;
    display: flex;
    justify-content: space-around;
        
} 
